{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>问卷设计器 - 后台管理</title>
    <link href="{% static 'frameworks/winjs/css/ui-dark.css' %}" rel="stylesheet"/>
    <link href="{% static 'frameworks/bootstrap/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'frameworks/metro-icon/css/metro-icons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'common/css/common.css' %}" rel="stylesheet"/>
    <link href="{% static 'common/css/splitview.css' %}" rel="stylesheet"/>
    <link href="{% static 'common/css/listview.css' %}" rel="stylesheet"/>
    <link href="{% static 'common/css/appbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'form-designer/css/form-designer.css' %}" rel="stylesheet"/>
    <script src="{% static 'frameworks/winjs/js/base.min.js' %}"></script>
    <script src="{% static 'frameworks/winjs/js/ui.min.js' %}"></script>
    <script src="{% static 'frameworks/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'frameworks/jquery/jquery.json.min.js' %}"></script>
    <script src="{% static 'frameworks/jquery/js.cookie.js' %}"></script>
    <script src="{% static 'form-designer/js/dim.js' %}"></script>
    <script src="{% static 'form-designer/js/form-designer.js' %}"></script>
    <script src="{% static 'common/js/common.js' %}"></script>
</head>
<body style="opacity: 0">
<script type="text/javascript">
    if (navigator.userAgent.indexOf('MQQBrowser') > -1) {
        alert("QQ内置浏览器暂不支持加载外部文件中的Javascript。\n请尝试使用其他浏览器打开，谢谢。");
    }
    else if (navigator.userAgent.indexOf('UCBrowser') > -1 && navigator.userAgent.indexOf('Mobile') > -1) {
        alert("手机UC浏览器暂不支持加载外部文件中的Javascript。\n请尝试使用其他浏览器打开，谢谢。");
    }
</script>
<div id="question-list-template" data-win-control="WinJS.Binding.Template"
     style="display: none">
    <div class="listview-item">
        <div class="question-desc">题目</div>
        <div class="question-id" data-win-bind="textContent: ID"></div>
        <p class="question-type" data-win-bind="textContent: Type"></p>

        <p class="question" data-win-bind="textContent: Question"></p>
    </div>
</div>
<div id="form-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '提交',
             secondaryCommandText: '取消'}">
</div>
<div id="error-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '刷新',
             secondaryCommandText: '取消'}">
    <h3 class="win-h3">嗯，我们无法访问该页面。</h3>
    <p>请检查您的网络连接，并单击“刷新”按钮。</p>
</div>
<div id="json-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '确定'}">
</div>
<div id="save-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '确定'}">
    <h3 class="win-h3">保存成功！</h3>
    <p>单击“确定”按钮将返回「动态管理」界面。</p>
</div>
<div id="enroll-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '是',
             secondaryCommandText: '否'}">
    <h3 class="win-h3">检测到招新问题。</h3>
    <p>是否将这张问卷标记为「招新问卷」？</p>
</div>
<div id="delete-enroll-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '是',
             secondaryCommandText: '否'}">
    <h3 class="win-h3">未检测到招新问题。</h3>
    <p>是否将这张「招新问卷」重新标记为「普通问卷」？</p>
</div>
<div id="select-enroll-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '单选题',
             secondaryCommandText: '多选题'}">
    <p>请选择招新问题的种类：</p>
</div>
<div id="notselected-dialog" data-win-control="WinJS.UI.ContentDialog" data-win-options="{
             primaryCommandText: '确定'}">
    <h3 class="win-h3">您没有选择任何一个问题。</h3>

    <p>请在选择一个问题后，再重新单击该按钮。</p>
</div>
<div class="splitView" data-win-control="WinJS.UI.SplitView">
    <div id="pane">
        <div class="header">
            <button
                    class="win-splitviewpane-toggle"
                    data-win-control="WinJS.UI.SplitViewPaneToggle"
                    data-win-options="{ splitView: select('.splitView') }"
                    ></button>
            <div class="title">后台管理</div>
        </div>

        <div class="nav-commands">
            <a href="/admin/dynamics-manage" data-win-control="WinJS.UI.NavBarCommand"
               data-win-options="{ label: '动态管理', icon: 'comment'}"></a>
            <a href="/admin/settings" data-win-control="WinJS.UI.NavBarCommand"
               data-win-options="{ label: '页面设置', icon: 'settings'}"></a>
            <a href="/admin/form-statistics" data-win-control="WinJS.UI.NavBarCommand"
               data-win-options="{ label: '问卷统计', icon: 'allapps'}"></a>
            <a href="/admin/logout" class="place-bottom" data-win-control="WinJS.UI.NavBarCommand"
               data-win-options="{ label: '退出登录', icon: 'backtowindow'}"></a>
        </div>
    </div>
    <div id="content">
        <div class="container-fluid">
            <div class="row first-row">
                <div class="col-md-12">
                    <img class="logo" src="{% static 'images/logo100.png' %}">

                    <h1 id="header" class="win-h1">问卷设计器</h1>
                </div>
            </div>
            <div class="row no-space">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 border question-list">
                            <div id="questions-listview"
                                 class="listview win-selectionstylefilled"
                                 data-win-control="WinJS.UI.ListView"
                                 data-win-options="{
                                         itemDataSource: MSTCWebsite.Questions.dataSource,
                                         itemTemplate: select('#question-list-template'),
                                         itemsReorderable: true,
                                         selectionMode: 'single',
                                         tapBehavior: 'directSelect',
                                         layout: { type: WinJS.UI.ListLayout },
                                         onitemdragchanged: reorderQuestions,
                                         oniteminvoked: selectQuestion}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div id="designer" class="col-md-12 border designer">
                            <div id="designer-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="same-row" for="question">题目：</label>
                                        <input id="question" class="same-row" type="text"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="same-row" for="type">类型：</label>
                                        <select id="type" class="same-row" onchange="typeChange();">
                                            <option value="Single">单选题</option>
                                            <option value="Multiple">多选题</option>
                                            <option value="Blank">填空题</option>
                                            <option value="LongBlank">简答题</option>
                                        </select>
                                        <label id="options-count-label" class="same-row"
                                               for="options-count">选项个数：</label>
                                        <input id="options-count" class="same-row" type="range" min="1" max="26"
                                               value="4"
                                               oninput="optionsCountChange();" onchange="optionsCountChange();"/>
                                        <input id="options-count-text" class="same-row tooltip" type="text"
                                               value="4" readonly="readonly">
                                        <label id="options-max-label" class="same-row"
                                               for="options-max">最多能够选择的选项数：</label>
                                        <input id="options-max" class="same-row" type="range" min="1" max="4"
                                               value="2"
                                                oninput="optionsMaxChange();" onchange="optionsMaxChange();"/>
                                        <input id="options-max-text" class="same-row tooltip" type="text"
                                               value="2" readonly="readonly">
                                    </div>
                                </div>
                                <hr>
                                <div id="options-container" class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createAppBar" data-win-control="WinJS.UI.AppBar" data-win-options="{placement:'bottom'}">
    <button data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'cmdAdd',label:'添加问题',icon:'add',tooltip:'添加问题',section:'primary'}"
            onclick="        addQuestion();"></button>
    <button data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'cmdEnroll',label:'添加部门题',icon:'addfriend',tooltip:'添加部门题',section:'primary'}"
            onclick="        showSelectDialog();"></button>
    <button data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'cmdDelete',label:'删除问题',icon:'delete',tooltip:'删除问题',section:'primary'}"
            onclick="        deleteQuestion();"></button>
    <button data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'cmdPreview',label:'预览问卷',icon:'preview',tooltip:'预览问卷',section:'primary'}"
            onclick="        previewForm();"></button>
    <button data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'cmdSave',label:'保存问卷',icon:'save',tooltip:'保存问卷',section:'primary'}"
            onclick="        saveAll();"></button>
</div>
{% csrf_token %}
</body>
<script type="text/javascript">
    load();
</script>
</html>