/*
 * Created by Robert Xie
 * © 2015 HIT Microsoft Club
 * All Rights Reserved
 */

@media (max-width: 1340px) {
    #dynamics-list .listview-item {
        display: block;
        width: 100%;
        height: 80px;
        padding: 0 5px;
        overflow: hidden;
    }

    .dynamics #dynamics-list .dynamics-content > .dynamics-desc,
    .dynamics #dynamics-list .dynamics-content > .dynamics-id,
    .dynamics #dynamics-list .dynamics-content > .dtitle,
    .dynamics #dynamics-list .dynamics-content > .dauthor {
        height: 17px !important;
    }

    .designer > #designer-container > #enroll-img {
        width: 200px !important;
    }
}

.dynamics {
    padding: 0 !important;
}

.dynamics #dynamics-list {
    width: 100%;
}

.dynamics #dynamics-list .dynamics-content {
    padding: 0 5px;
    margin: 10px 30px 10px 0;
}

.dynamics #dynamics-list .dynamics-content > .dynamics-desc {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    height: 20px;
}

.dynamics #dynamics-list .dynamics-content > .dynamics-id {
    font-weight: bold;
    height: 20px;
}

.dynamics #dynamics-list .dynamics-content > .dtitle {
    font-weight: normal;
    height: 20px;
}

.dynamics #dynamics-list .dynamics-content > .dauthor {
    font-weight: 200;
    margin: 0;
    height: 20px;
}

.designer {
    font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif, "Segoe MDL2 Assets", "Symbols";
    overflow-y: auto;
    padding: 30px !important;
}

.designer > #designer-container > #enroll-img {
    width: 300px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
}

.designer > #designer-container {
    opacity: 0;
}

.designer > #designer-container > .row {
    margin-bottom: 10px !important;
}

.designer > #designer-container > .row > * {
    padding: 0;
}

.designer > #designer-container > #basics > .row {
    margin-bottom: 10px !important;
}

.designer > #designer-container > #basics > .row > * {
    padding: 0;
}

.designer > #designer-container input[type=text] {
    width: 50%;
}

.designer > #designer-container select {
    width: 10%;
}
.designer > #designer-container #paper-state .win-toggleswitch-header,
.designer > #designer-container #paper-state .win-toggleswitch-value{
    font-size: 14px !important;
}

.flyout-desc {
    color: #ffffff;
}

#paperFlyout > .flyout-desc {
    margin-bottom: 10px;
}

.flyout-desc > p {
    white-space: nowrap;
    margin: 0;
}

.flyout-desc > p.warning {
    font-weight: bold;
}

#edui1_toolbarbox{
    z-index: 1000;
}

#url-dialog #dynamics-url {
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}